<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="AutomationTestScenario" parallel="classes">

	<test name="Chrome Test">
		<parameter name="browser" value="chrome" />
		<parameter name="version" value="86.0" />
		<parameter name="platform" value="Windows 10" />
      <classes>
			<class name="TesstCase.AutomationTestCase" />
	  </classes>
	</test> <!-- Test -->
	
	<test name="MicroSoft Edge Test">
		<parameter name="browser" value="Microsoft Edge" />
		<parameter name="version" value="87.0" />
		<parameter name="platform" value=" macOS Sierra" />
      <classes>
			<class name="TesstCase.AutomationTestCase" />
	  </classes>
	</test> <!-- Test -->
	
</suite> <!-- Suite -->
